body {
  font-family: "Helvetica", sans-serif;
  background-color: white;
}

.navHeadFont {
  font-size: 1.2rem;
  margin-right: 40px;
}

.text-gray {
  color: gray;
}

.text-lightseagreen {
  color: lightseagreen;
}

.text-coral {
  color: coral;
}

#my-name {
  color: coral;
  font-weight: bold;
}

#job-title {
  color: lightseagreen;
  font-weight: bold;
}

#my-name:hover {
  color: lightseagreen;
}

#job-title:hover {
  color: coral;
}

.btn-primary {
  background-color: lightseagreen !important;
  border-color: lightseagreen !important;
  color: white;
}

.btn-primary:hover {
  background-color: coral !important;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border-color: lightseagreen !important;
  color: black;
}

.btn-secondary:hover {
  background-color: lightseagreen !important;
}

#welcome-photo-top {
  display: none;
}

#welcome-photo-right {
  display: block;
}

@media screen and (max-width: 767px) {
  #welcome-photo-top {
    display: block;
  }
  #welcome-photo-right {
    display: none;
  }
  .navHeadFont {
    margin-right: 0;
  }
  #experience-year {
    width: 80px !important;
    min-width: 80px !important;
    margin-left: 0px !important;
  }
  .resume-vertical-line {
    margin-left: 10px !important;
    padding-left: 10px !important;
  }
}

.welcome-carousel-image1 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url("images/tech-stacks/microsoft-net.png");
}

.resume-vertical-line {
  border-left: 6px solid gray;
  height: 80px;
  margin-left: 50px;
  padding-left: 50px;
}

#experience-year {
  height: 100px;
  width: 80px;

  margin-left: 30px;
}

#resume-section-header {
  border-left: 6px solid aquamarine;
  height: 100%;
}

#resume-info {
  background-image: linear-gradient(aquamarine, rgb(180,250,350));
}