body {
  font-family: "Helvetica", sans-serif;
  background-color: white;
}

.navHeadFont {
  font-size: 1.2rem;
  margin-right: 40px;
}

.text-gray {
  color: gray;
}

.text-lightseagreen {
  color: lightseagreen;
}

.text-coral {
  color: coral;
}

#my-name {
  color: coral;
  font-weight: bold;
}

#job-title {
  color: lightseagreen;
  font-weight: bold;
}

#my-name:hover {
  color: lightseagreen;
}

#job-title:hover {
  color: coral;
}

.btn-primary {
  background-color: lightseagreen !important;
  border-color: lightseagreen !important;
  color: white;
}

.btn-primary:hover {
  background-color: coral !important;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border-color: lightseagreen !important;
  color: black;
}

.btn-secondary:hover {
  background-color: lightseagreen !important;
}

#welcome-photo-top {
  display: none;
}

#welcome-photo-right {
  display: block;
}

@media screen and (max-width: 767px) {
  #welcome-photo-top {
    display: block;
  }
  #welcome-photo-right {
    display: none;
  }
  .navHeadFont {
    margin-right: 0;
  }
}

.welcome-carousel-image1 {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url("images/tech-stacks/microsoft-net.png");
}
